.card-item{
  display: inline-block;
  box-sizing: border-box;
  margin-bottom: 80px;
  cursor: pointer;
  &:hover .card-img-con img{
    transform: scale(1.1);
  }
  &:hover .card-info>.card-title>a{
    color: rgb(73, 196, 149);
  }
  .card-img-con a{
    display: inline-block;

    overflow: hidden;
    img{
      width: 100%;
      height:100%;
      cursor: pointer;
      transition: all 0.6s;
    }
  }

  .card-info{
    margin-top: 12px;
    .card-title{
      font-size: 16px;
      font-weight: 400;
      line-height: 22px;
    }
    .card-tag{
      display: inline-block;
    }
    .card-details{
      font-size: 11px;
      line-height: 143%;
      color: #71746e;
      margin-top: 10px;
      letter-spacing: 1.2px;
    }
  }


}